<footer class="">
    <div class="copyright">
        <span class="gText lightText">&copy; Copyright 2021 Glyns Gardening Service.</span>
    </div>
    <div class="socialBottom">
        <a href="www.facebook.com" target="_blank"><span class="iconify" data-icon="ant-design:facebook-filled" data-inline="false" style="color: #38A639; padding: 0; margin: 1rem 1rem 1rem 0;" data-width="25" data-height="25"></span></a>
        <a href="" target="_blank"><span class="iconify" data-icon="akar-icons:whatsapp-fill" data-inline="false" style="color: #38A639; padding: 0; margin: 1rem 0;" data-width="21" data-height="21"></span></a>
    </div>
</footer>