<header>
  <div class='container'>
    <div class="stay">
      <p id='logo'><a href="#top" class="link"><img src="/Images/png logo.png" alt="Logo" /></a></p>
        <a href='#' id='toggle' class="gText"><i></i><i></i><i></i>Menu</a>
          <nav id='primary'>
            <ul>
              <li><a href="#top" class="gText darkText link">Home</a></li>
              <li><a href="#file" class="gText darkText link">Our Work</a></li>
              <li><a href="#contactForm" class="gText darkText link">Services</a></li>
            </ul>  
          </nav> 
          <div class="socialTop">
            <span class="iconify lightText facebook" data-icon="ant-design:facebook-filled" data-inline="false" style="color: #38A639; padding: 0; margin-right: 1.5rem" data-width="25" data-height="25"><a href="www.facebook.com" target="_blank"></a></span>
              <span class="iconify lightText whatsapp" data-icon="akar-icons:whatsapp-fill" data-inline="false" style="color: #38A639; padding: 0;" data-width="21" data-height="21"><a href="" target="_blank"></a></span>
          </div>
          <div class="search">
            <button class="whiteButton quote link"><a href="#contactForm" class="gText darkText">Get a Quote</a></button>
          </div> 
    </div>
  </div>
</header> 