<header>
  <div class='container'>
     <p id='logo'><img src="/images/Minimal Logo.png" alt=""></p>
     <a href='#' id='toggle' class="gText"><i></i><i></i><i></i>Menu</a>
     <nav id='primary'>
        <ul>
          <li><a href='' class="gText darkText">Home</a></li>
          <li><a href='' class="gText darkText">Our Work</a></li>
          <li><a href=''class="gText darkText">Services</a></li>
        </ul>  
     </nav> 
     <div class="socialTop">
        <span class="iconify lightText facebook" data-icon="ant-design:facebook-filled" data-inline="false" style="color: #38A639; padding: 0; margin-right: 1.5rem" data-width="25" data-height="25"></span>
        <span class="iconify lightText whatsapp" data-icon="akar-icons:whatsapp-fill" data-inline="false" style="color: #38A639; padding: 0;" data-width="21" data-height="21"></span>
      </div>
    <div class="search">
      <button class="whiteButton quote"><a href="#contactForm" class="gText darkText">Get a Quote</a></button>
    </div> 
  </div>
</header> 